.button {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #9975C2;
  color: #ede7f4;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  min-width: 8rem;
  transition: 0.6s;
}

button:hover,
.button:focus {
  background-color: #6f39a9;
  outline: none;
  box-shadow: 0 0 0 3px #ede7f4, 0 0 0 4px #d2c4e4;
}

.button:disabled {
   opacity: 0.5;
   cursor: wait;
}
