.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid rgb(143, 143, 143);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: rgb(190, 190, 190);
  transition: 0.6s;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgb(143, 143, 143);
  background: white;
  box-shadow: 0 0 0 3px rgb(190, 190, 190);
}

.label {
  display: block;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.error {
   color: red;
   font-size: 0.875rem;
   margin-top: 0.25rem;
}