.header {
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  padding: 0.5rem 0;
  width: 100%;
  z-index: 100;
  background: white;
  top: -20px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

/* Navigation */

.logo {
  padding: 20px 0 0;
  width: 250px;
}

.login {
  color: #333;
  display: flex;
  align-items: center;
}

.login::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 40px;
  background: url("../Assets/user.svg") no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
}
